.git/
.idea/

.venv/
venv/
env/
ENV/

__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.Python
*.egg-info/
dist/
build/

.pytest_cache/
.ruff_cache/
.mypy_cache/
htmlcov/
.coverage

tests/
docs/
examples/
logs/
migrations/data/

.env
.env.*
